$primary-blue: #215184;
$font-color: #545454;
$font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/font/BrandonGrotesque-Bold.woff2') format('woff2'),
      url('./assets/font/BrandonGrotesque-Bold.woff') format('woff'),
      url('./assets/font/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/font/BrandonGrotesque-Regular.woff2') format('woff2'),
      url('./assets/font/BrandonGrotesque-Regular.woff') format('woff'),
      url('./assets/font/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/font/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
      url('./assets/font/BrandonGrotesque-RegularItalic.woff') format('woff'),
      url('./assets/font/BrandonGrotesque-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/font/BrandonGrotesque-Black.woff2') format('woff2'),
      url('./assets/font/BrandonGrotesque-Black.woff') format('woff'),
      url('./assets/font/BrandonGrotesque-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/font/BrandonGrotesque-Medium.woff2') format('woff2'),
      url('./assets/font/BrandonGrotesque-Medium.woff') format('woff'),
      url('./assets/font/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.navdiv{
  width:100vw;
  height:3vh;
  border:1px solid blue;
  display: inline-flex;

}

.navbar-logo{
  width:15vw;
  height:2vh;
  margin-left:2vw;
}

.navbar-text{
  margin:0;
  color:$font-color;
  font-family:$font-family;
}

.main-container{
  display: inline-flex;
}

.image-container{
  background-image: url("./assets/img/launch-home@3x.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  width:50vh;
  height:100vh;
  resize: both;
  border: 1px solid red;
  justify-content: center;
  display: block;

}
