$primary-blue: #215184;
$font-color: #545454;
$font-family: 'Brandon Grotesque', Arial, Helvetica, sans-serif;

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/font/BrandonGrotesque-Bold.woff2') format('woff2'),
      url('./assets/font/BrandonGrotesque-Bold.woff') format('woff'),
      url('./assets/font/BrandonGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/font/BrandonGrotesque-Regular.woff2') format('woff2'),
      url('./assets/font/BrandonGrotesque-Regular.woff') format('woff'),
      url('./assets/font/BrandonGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/font/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
      url('./assets/font/BrandonGrotesque-RegularItalic.woff') format('woff'),
      url('./assets/font/BrandonGrotesque-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/font/BrandonGrotesque-Black.woff2') format('woff2'),
      url('./assets/font/BrandonGrotesque-Black.woff') format('woff'),
      url('./assets/font/BrandonGrotesque-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('./assets/font/BrandonGrotesque-Medium.woff2') format('woff2'),
      url('./assets/font/BrandonGrotesque-Medium.woff') format('woff'),
      url('./assets/font/BrandonGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

//style navbar and contents
.navdiv{
  width:100vw;
  height:4vh;
  display: inline-flex;
  align-items: center;
  margin-bottom: 1vh;
}

.logo-group{
  display: inline-flex;
  align-items: center;
  align-items: baseline;
}

.navbar-logo{
  width:15vw;
  height:3vh;
  margin-left:2vw;
}

.navbar-text{
  margin:0;
  color:$font-color;
  font-family:$font-family;
  font-weight:normal;
}

.navbar-btn-container{
width:100vw;
display:inline-flex;
justify-content: flex-end;
}

.default-btn{
  width:8rem;
  height:2rem;
  background-color: $primary-blue;
  color: white;
  border:none;
  display: inline-flex;
  align-items:center;
  justify-content: center;
  border-top-left-radius:25px;
  border-bottom-left-radius: 25px;
}

.default-btn-text{
  margin:0;
  padding:0;
  font-family: $font-family;
  font-size: .7rem;
  color: white;
}

.refresh-image{
  background-image: url("./assets/icon/refresh.png");
  background-repeat: no-repeat;
  background-position: center;
  width:4rem;
  height:4rem;
  padding:0;
  margin:0;
}

//style main container
.main-container{
  display: inline-flex;
}

//wrapper to assist alignment and scale of background image
.background-image-container-wrapper{
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

//background image container
.background-image-container{
  background-image: url("./assets/img/launch-home@3x.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  width:80vh;
  height:80vh;
  resize: both;
  justify-content: center;
  display: block;
}


//wrapper to assist positioning of list alongside background image
.list-container-wrapper{
  height: 100vh;
  width: 50vw;
  display:block;
  align-items: center;
}


//styling for list
.list-container{
  width:45vw;
  height:80vh;
  overflow: scroll;
}

//styling for list contents
.list-item{
  width:43vw;
  height:7vh;
  border-radius: 8px;
  margin:0.2rem;
  box-shadow: 2px 2px 8px silver;
  display: inline-flex;
  align-items:baseline;
  justify-content: center;
}

.flight-number-container{
  width:9vw;
  height: 6vh;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.flight-number-text{
  font-family: $font-family;
  color:$font-color;
  font-weight: normal;
  margin:3px;
  padding:0;
  overflow-x: scroll;

}

.mission-name-container{
  width:22vw;
  height:8vh;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;

}

.mission-name-text{
  color:$font-color;
  font-family: $font-family;
  font-weight: normal;

}

.date-container{
  align-self: flex-end;
  text-align: right;
  width: 17vw;
  display: block;
  overflow:scroll;
  white-space: nowrap;
  align-items: center;
}

.flight-date{
  font-family: $font-family;
  color:$font-color;
  padding: 0px 10px;
  margin: 0px 0px 3px ;
}

.flight-name{
  font-family: $font-family;
  color:$font-color;
  padding: 0px 10px;
  margin: 0;
  font-weight:bold;
}

//filter btn
.year-filter-btn{
  position:relative;
  width:8rem;
  height:2rem;
  background-color: $primary-blue;
  color: white;
  border:none;
  font-size: .7rem;
  margin-right:0.5rem;
}

.btn-container{
  width:44vw;
  height:2rem;
  text-align:right;
  display:inline-flex;
  justify-content: flex-end;
}
.sort{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-right:.5rem;
}

.list-container-div{
  display: inline-block;
}

.sort-icons{
  background-image: url("./assets/icon/sort.png");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  width:.9rem;
  height:.9rem;
  resize: both;
  justify-content: center;
  display: block;
  padding-left: 2rem;

}
